.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 2rem 1rem;
  margin: auto;
}

.auth-card {
  width: 100%;
  max-width: 580px;
  padding: 2.5rem 2rem;
  border-radius: 1.5rem;
  backdrop-filter: blur(50px);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0.75rem;
  }
}

label {
  display: block;

  span {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 0.375rem;
    opacity: 0.9;
  }
}

.input-field {
  width: 100%;
  padding: 0.6rem 1rem;
  border-radius: 0.75rem;
  border: none;
  background: rgba(26, 28, 28, 0.9);
  color: inherit;
  font: inherit;
  font-size: 1.1rem;
  transition: background 0.2s ease;

  &:focus {
    outline: none;
  }
}

.primary-btn {
  width: 100%;
  padding: 0.9rem;
  border: none;
  border-radius: 0.75rem;
  background: rgba(26, 28, 28, 0.9);
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition:
    transform 0.12s ease,
    background 0.2s ease;

  &:hover {
    background: rgba(26, 28, 28, 0.71);
  }

  &:active {
    transform: scale(0.97);
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }
}

.switch-link {
  display: block;
  text-align: center;
  margin-top: 1.25rem;
  font-size: 1rem;
  opacity: 0.9;
  transition: opacity 0.2s;
  color: inherit;
  text-decoration: none;
  &:hover {
    opacity: 1;
  }
}

.error-msg {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: center;
  color: #f87171; /* red-400 */
}

/* transition */
:global(.fade-slide-enter-active),
:global(.fade-slide-leave-active) {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

:global(.fade-slide-enter-from),
:global(.fade-slide-leave-to) {
  opacity: 0;
  transform: translateY(10px);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #1a1c1c inset !important;
  box-shadow: 0 0 0px 1000px #1a1c1c inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
